
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;200;300;400;500;600;700;800;900&family=Dancing+Script:wght@400;500;600;700&family=Gruppo&family=Inter:wght@200;300;400;500;600;700;900&family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&family=Nunito&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;1,100;1,300&family=Rubik:ital,wght@0,300;0,800;0,900;1,300;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;200;300;400;500;600;700;800;900&family=Dancing+Script:wght@400;500;600;700&family=Gruppo&family=Inter:wght@200;300;400;500;600;700;900&family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&family=Nunito&family=Open+Sans:ital,wght@1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;1,100;1,300&family=Rubik:ital,wght@0,300;0,800;0,900;1,300;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;200;300;400;500;600;700;800;900&family=Dancing+Script:wght@400;500;600;700&family=Gruppo&family=Inter:wght@200;300;400;500;600;700;900&family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&family=Nunito&family=Open+Sans:ital,wght@0,700;1,400;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;1,100;1,300;1,900&family=Rubik:ital,wght@0,300;0,800;0,900;1,300;1,700;1,800;1,900&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;


.dropdown-menu.active{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: var(--speed) ease;
  
}

.dropdown-menu.active{
  opacity: 1;
  visibility: hidden;
  transform: translateY(-20px);
  transition: var(--speed) ease;
  
}

.dropup-menu.active{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: var(--speed) ease;
  
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}





.borderline1 {
  border:  1.5px solid  #356DFB;
  width: 314px;
  height: 46px;
  margin-top: 13px;
  margin-left: 27px;
  border-radius: 10px;
}

.dropup-menu.active{
  opacity: 1;
  visibility: hidden;
  transform: translateY(-20px);
  transition: var(--speed) ease;
  
}

.card-hover:hover{
  background: #F7FBFD;
}

.card1{
  position: relative;
  bottom: 600px;
}

.card2:hover{
  color: #356DFB;
}

.note{
  background: rgba(196, 196, 196, 0.05);
  border: 1px solid #DEDFEC;
  border-radius: 10px;
  height: 46px;
  width: 410px;
  margin-left: 21px;
  outline: none;
  
}

.note > input{
  outline: none;
  background: rgba(196, 196, 196, 0.05);
  width: 410px;
  height: 42px;
  padding-left: 14px;
}

.textarea{
  background: rgba(196, 196, 196, 0.05);
  border: 1px solid #DEDFEC;
  border-radius: 10px;
  height: 110px;
  width: 410px;
  margin-left: 21px;
  
}

.textarea > textarea{
  background: rgba(196, 196, 196, 0.05);
  border: 1px solid #DEDFEC;
  border-radius: 10px;
  height: 110px;
  width: 410px;
  padding-left: 14px;
  padding-top: 14px;
  outline: none;
}

.title{
  border-bottom: 0.5px solid #DDDDDD;
  padding-bottom: 15px;
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
